
* {
    box-sizing: border-box;

}

body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 17px;

}
h1, h2, h3, h4 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

header {
    width: 960px;
    /*height: 100px;*/
    margin: 0 auto;
    background-color: #ffffff;
    border-color: #cccccc;
    position: relative;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 40px;
    padding: 25px 0px 26px 0px;
    width: 250px;
    text-align: center;
}

nav {
    position: absolute;
    padding: 35px 25px 35px 25px;
    right: 0px;
    top: 0px;
    width: 270px;

}

a {
    text-decoration: none;
}

#index {
    border-right: 1px solid #777777;
    padding-right: 10px;
}

#portfolio {
    border-right: 1px solid #777777;
    padding-right: 10px;
    padding-left: 8px;
}

#contact {
    padding-left: 8px;
}



#backgroundimage {
    background-image: url("../images/dust_scratches.png");
    background-color: bisque;
    border-top: 2px solid #cccccc;

}

#contentArea {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 40px 0px 40px 0px;
}

main {
    background-color: #ffffff;
    width: 650px;
    padding: 30px;
    border: 1px solid #dddddd;
    position: relative;
}

h2 {
    color: #4aaaa5;
    font-size: 35px;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 25px;
}

.floatingcontent {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

#janeimage {
    /*width: 185px;
    height: 225px;*/
    width: 25%;
    padding: 25px 15px 15px 0px;
}

#bio {
    width: 75%;
    padding: 15px;
    line-height: 1.6;
}

aside {
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    width: 270px;

}

h3 {
    color: #4aaaa5;
    padding-bottom: 25px;
    margin: 25px;
    font-size: 26px;
    border-bottom: 1px solid #dddddd;
}

.connections {
    padding: 0px 25px 35px 25px;

}

.connections a {
   margin: 5px;

}

footer {
    overflow: auto;
    clear: both;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 40px 0px 40px 0px;
    border-top: 8px solid #4aaaa5;
}

.imageProduct {
    width: 270px;
    height: 200px;
    padding-top: 25px;
    position: relative;
}

h4 {
    font-size: 20px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 8px;
    text-align: center;
    width: 270px;
}

form {
    margin-top: 25px;
    font-size: 18px;
}
form div {
    margin: 10px 0px;
}

h5 {
    margin: 3px 0px;
}

input[type=text] {
    padding: 3px;
    width: 585px;
}

input[type=email] {
    padding: 3px;
    width: 585px;
}

input[type=submit] {
    border: 1px solid #777777;
    color: #ffffff;
    background:#4aaaa5;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 10px;

}
input[type=submit]:hover {
    background-color: #777777;
}
